      body {
        font-family: "Poppins", "Roboto", sans-serif;
        background-color: #f4edff;
        margin: 0;
        overflow: hidden;
      }

      .navbar-pill {
        background-color: #ffffff;
        border:3px solid #6e15a8;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(40, 16, 255, 0.253);
        padding: 0.5rem 1.5rem;
        margin: 1rem auto;
        max-width: 95%;
      }

      .nav-btn {
        border-radius: 20px;
        padding: 0.4rem 1rem;
        font-size: large;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
      }

      .nav-btn.login-btn {
        background-color: transparent;
        border: 2px solid #6e15a8;
        color: #6e15a8;
      }

      .nav-btn.login-btn:hover {
        background-color: #6e15a8;
        color: #fff;
      }

      .nav-btn.register-btn {
        background-color: #6e15a8;
        color: #fff;
        border: 2px solid #6e15a8;
      }

      .nav-btn.register-btn:hover {
        background-color: #084298;
        border-color: #084298;
      }

      .navbar-brand img {
        height: 40px;
      }

      .landing-section {
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        padding: 0 50px;
      }
      .left-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        translate: 0 -60px;
      }
      .right-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .left-section h1 {
        color: #6e15a8;
        font-size: 5rem;
        font-weight: 700;
      }

      .left-section h3 {
        width: auto;
        color: #6e15a8;
        font-size: 2rem;
        margin-top: 1rem;
      }
      .hero-btn {
        margin: 30px 0 0 45px;
        gap: 10px;
        display: flex;
        align-items: center;
      }
      .hero-btn .nav-btn {
        border-radius: 20px;
        padding: 0.4rem 1rem;
        font-size: xx-large;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
      }
      .img-fluid {
        max-height: 80vh;
      }