<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>404 - Page Not Found</title>
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/404page.css" />
  </head>
  <body>
    {%include "Info.html"%}
    <h1 class="glow">404</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <button onclick="history.back()" class="button">Go Back</button>
  </body>
</html>
