<nav
  class="navbar navbar-expand-lg navbar-light bg-white px-4 border rounded m-2 d-flex align-items-center justify-content-center"
  style="box-shadow: 0 4px 6px rgba(60, 96, 255, 0.26);"
>
  <img src="../static/images/Logo.png" alt="" style="height: 40px; ">

  <div class="position-absolute start-50 translate-middle-x text-center ">
    <h3 style="margin: 0%; font-weight: 700;">Welcome, Admin</h3>
  </div>

  <div class="w-100 collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admindashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="/adminsummary">Summary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#LogoutCard" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>

  <div class="mx-4">
    <a class="nav-link text-nowrap"  >Edit Profile</a>
  </div>
</nav>
