<div>
  <div class="container mt-4">
    <div class="row">
      {% for lot in lots %}
      <div class="col-md-4 mb-4" id="lot-{{ lot.id }}">
        <div class="card shadow-sm h-100 text-white" style="background-color: #6c1e6da6; border: 3px solid #4A154B;">
          <div class="card-body d-flex flex-column align-items-center">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <h5 class="card-title">{{ lot.prime_location_name }}</h5>
              <p class="card-text">Location: {{ lot.address }}</p>

              <div class="my-2 d-flex gap-3">
                <button
                  class="edit-btn btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#EditLot"
                  data-lotid="{{ lot.id }}"
                  data-name="{{ lot.prime_location_name }}"
                  data-address="{{ lot.address }}"
                  data-pincode="{{ lot.pincode }}"
                  data-price="{{ lot.price_per_hour }}"
                  data-maxspots="{{ lot.max_spots }}"
                >
                  Edit
                </button>
                <button
                  class="delete-btn btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#DeleteLot"
                  data-lotid="{{ lot.id }}"
                  data-name="{{ lot.prime_location_name }}"
                  data-address="{{ lot.address }}"
                >
                  Delete
                </button>
              </div>
              <img
                src="{{ url_for('static', filename='uploads/lot_' ~ lot.id ~ '.png') }}"
                onerror="this.onerror=null; this.src='https://mdbootstrap.com/img/Photos/Others/placeholder.jpg';"
                alt="Parking Lot Image"
                class="img-fluid rounded"
                style="width: 100%; height: 200px; margin: 10px;"
              />

              <p class="card-text">
                Spots: {{ lot.available_spots }}/{{ lot.max_spots }}
              </p>
            </div>

            <div
              class="w-100 m-2 py-3 d-flex flex-column justify-content-center align-items-center rounded-2"
              style="
          background-color: rgba(255, 255, 255, 0.521);
          border: 3px solid #ffffffa6;
        "
            >
              <div class=" row gap-2 m-0">
                {% for spot in lot.spots %}
                <div class="col-md-2 ">
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#ViewSpot"
                  data-spotid="{{spot.spot_id}}"
                  data-status="{{spot.is_available}}"
                  class="delete-spot-btn btn available col  slot w-auto {{ 'available' if spot.is_available == 'A' else 'occupied' }}"
                >
                  <h2 class="p-2" style="margin: 0%">
                    {{ spot.is_available }}
                  </h2>
                </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
