<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/flashmessages.css" />
    <link rel="stylesheet" href="../static/css/authpage.css" />
    <title>Login or Signup</title>
  </head>
  <body>
    {%include "Info.html"%}
    <div class="container {{mode}}">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login" class="sign-in-form" method="POST">
            <h2 class="title">Sign in</h2>
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% set category, message = messages[-1] %}
            <div id="flash-message" class="flash-message {{ category }}">
              {{ message }}
            </div>
            {% endif %} {% endwith %}

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                type="text"
                name="username"
                id=""
                placeholder="Username/E-mail"
                required
              />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                name="password"
                id=""
                placeholder="Password"
                required
              />
            </div>
            <input type="submit" value="login" class="btn solid" />
          </form>
          <form action="/signup" class="sign-up-form" method="POST">
            <h2 class="title">Sign up</h2>

            <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                type="text"
                name="username"
                placeholder="Username/E-mail"
                required
              />
            </div>

            <div class="input-field">
              <i class="fas fa-id-card"></i>
              <input
                type="text"
                name="full_name"
                placeholder="Full Name"
                required
              />
            </div>

            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>

            <div class="input-field">
              <i class="fas fa-map-marker-alt"></i>
              <input
                type="text"
                name="address"
                placeholder="Address"
                required
              />
            </div>

            <div class="input-field">
              <i class="fas fa-map-pin"></i>
              <input
                type="text"
                name="pincode"
                placeholder="Pincode"
                required
              />
            </div>

            <input type="submit" value="signup" class="btn solid" />
          </form>
        </div>
        <div class="panels-container">
          <div class="panel left-panel">
            <div class="content" style="translate: 0 60px">
              <h3>New user?</h3>

              <button class="btn transparent switch" id="sign-up-btn">
                Sign up
              </button>
            </div>
            <img
              src="../static/images/lot1.png"
              alt="lot image"
              class="image"
            />
          </div>
          <div class="panel right-panel">
            <div class="content" style="translate: 0 60px">
              <h3>One of us?</h3>

              <button class="btn transparent switch" id="sign-in-btn">
                Sign in
              </button>
            </div>
            <img
              src="../static/images/lot3.png"
              alt="lot image"
              class="image"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="../static/scripts/signinsignup.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        setTimeout(() => {
          const msg = document.getElementById("flash-message");
          if (msg) msg.remove();
        }, 4000); // 3s delay + 1s animation
      });
    </script>
  </body>
</html>
