<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/sidebar.css" />
    <link
      href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <img
          src="../static/images/favicon.png"
          alt=""
          style="height: 30px; margin-left: 25px; margin-right: 10px"
        />
        <span class="logo_name">Park&nbsp;My&nbsp;Car</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/dashboard">
            <i class="bx bx-dashboard-alt"></i>
            <span class="link_name">Dashboard</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/dashboard">Dashboard</a></li>
          </ul>
        </li>
        <li>
          <a href="/summary">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="link_name">Summary</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/summary">Summary</a></li>
          </ul>
        </li>
        <li>
          <a href="/wallet">
            <i class="bx bxs-wallet"></i>
            <span class="link_name">Wallet</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/wallet">Wallet</a></li>
          </ul>
        </li>
        <li>
          <a href="/history">
            <i class="bx bx-history"></i>
            <span class="link_name">History</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/history">History</a></li>
          </ul>
        </li>
        <li>
          <a
            data-bs-toggle="modal"
            data-bs-target="#EditProfile"
            style="cursor: pointer"
          >
            <i class="bx bx-user-square"></i>
            <span class="link_name">Profile</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name">Profile</a></li>
          </ul>
        </li>
        <li>
          <a
            data-bs-toggle="modal"
            data-bs-target="#LogoutCard"
            style="cursor: pointer"
          >
            <i class="bx bx-log-out"></i>
            <span class="link_name">Logout</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu" style="width: 150px"></i>
        <span class="text-nowrap">Welcome, {{name}}</span>
        <span class="text" style="margin-right: 20px">{{current}}</span>
      </div>
      <div>
        {% if (current == "Dashboard")%} {%include "UserDashboard.html"%} {%elif
        (current == "Wallet")%} {%include "Wallet.html"%} {%elif (current ==
        "History")%} {%include"HistoryPage.html"%} {%else%} {%include
        "UserSummary.html"%} {% endif %}
      </div>
    </section>
    {%include "LogoutCard.html"%} {%include "EditProfile.html"%}
    <script>
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
          let arrowParent = e.target.parentElement.parentElement;
          arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>
  </body>
</html>
